<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="forgotenPass.css">
</head>
<body>
    <div class='mail'>
        <div class="mail-section header">
            <div className="logo">
                <h1>miNotes</h1>
            </div>
        </div>
        <div class="mail-section body">
            <h3>Your password has been reseted!</h3>
            <p class="p1">Next time you login, use this temp password:</p> 
            <h4>{{newPass}}</h4> 
            <p class="p2">Remember to change right after you login.</p>
        </div>
        <div class="mail-section footer">

        </div>
    </div>
</body>
</html>